# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
vendor/

# Test binary, build with `go test -c`
mt-bulk.cfg
*.test
bin/
build/
certs/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

cert_gen
